
<div class="row">
    <div class="col-md-1 col-3 pl-0 m-0">
        <a class="custom-link pr-2 pb-0" title="سقف مردم ایرانیان" href="<%- host %>"><img src="<%- host %>/panel/logo.png" height="58px"></a>
    </div>
    <div class="col-md-6 col-9 mt-4 ml-0 pr-0" style="font-size: 13px">تمامی حقوق متعلق به <span class="linkColor" >سقف مردم</span>  میباشد </div>
    <div class="col-md-5  mt-4 pr-0 contacts pl-4" >
        <div align="left">
            <a href="#" class="custom-link text-white" ></a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="custom-link text-white" >تماس با ما</a>
        </div>

    </div>
</div>
<div class="p-2 mt-1 row">
    <div class="col-12 m-0">

        <div class="row mt-1">
            <div class="col-md-4  p-0">
                <div class="col-md-12 col-12 pb-2">
                    <div class="row">
                        <div class="col-1  " >
                            <span class="linkT">&blacksquare;</span>

                        </div>
                        <div class="col-9 p-0 ">
                            <a href="#" class="custom-link text-white" >  </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 pb-2">
                    <div class="row">
                        <div class="col-1 " >
                            <span class="linkT">&blacksquare;</span>

                        </div>
                        <div class="col-9 p-0 ">
                            <a href="#" class="custom-link text-white" >  </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 pb-2">
                    <div class="row">
                        <div class="col-1 " >
                            <span class="linkT">&blacksquare;</span>

                        </div>
                        <div class="col-9 p-0 ">
                            <a href="#" class="custom-link text-white" >  </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4  p-0">
                <div class="col-md-12 col-12 pb-2">
                    <div class="row">
                        <div class="col-1 " >
                            <span class="linkT">&blacksquare;</span>

                        </div>
                        <div class="col-9 p-0 ">
                            <a href="#" class="custom-link text-white" >  </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 pb-2">
                    <div class="row">
                        <div class="col-1 " >
                            <span class="linkT">&blacksquare;</span>

                        </div>
                        <div class="col-9 p-0 ">
                            <a href="#" class="custom-link text-white" >  </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 pb-2">
                    <div class="row">
                        <div class="col-1 " >
                            <span class="linkT">&blacksquare;</span>

                        </div>
                        <div class="col-9 p-0 ">
                            <a href="#" class="custom-link text-white" >  </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4  p-0">
                <div class="col-md-12 col-12 pb-2">
                    <div class="row">
                        <div class="col-12 " >
                            <img src="https://trustseal.enamad.ir/logo.aspx?id=118760&amp;p=ABQr1P8smU2fLVoI" alt="" onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=118760&amp;p=ABQr1P8smU2fLVoI&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)" style="cursor:pointer" id="ABQr1P8smU2fLVoI">

                            <img id = 'jxlzwlaorgvjoeukesgtoeuk' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=143808&p=rfthaodsxlaomcsiobpdmcsi", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=143808&p=nbpdshwlqftiaqgwlymaaqgw' />

                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px; background: #2a3036">

    <div class="col-md-12 text-white p-2 ">
        <div align="center">

        </div>
    </div>

</div>
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>