<svg  onclick="topFunction()" id="myBtn" class="topIcon  text-danger"><use xlink:href="#up"></use></svg>
<nav class="navbar navbar-expand-sm navbar-dark navC">
    <a class="navbar-brand" href="#">Teklafiml.com</a>

</nav>