<footer class="hidden-print">
    <div class="pull-left" >
        TeklaFiml -  <a
                href="https://teklafilm.com" data-developer="Mohammad Sarayi">teklafilm.com</a>
    </div>
    <div class="clearfix"></div>
</footer>