<footer class="hidden-print">
    <div class="pull-left" >
        وب سایت سقف مردم -  <a
                href="https://teklafilm.ir" data-developer="محمد سرایی">teklafilm.ir</a>
    </div>
    <div class="clearfix"></div>
</footer>